<div class="users-div m-auto">
    <h2 style="text-align: center;">Criar Usuário</h2>
    <br/>
    <form>
        <div class="form-group">
            <label for="nameInput">Nome</label>
            <input class="form-control" type="text" placeholder="Seu nome">
        </div>
        <div class="form-group">
            <label for="nameInput">Sobrenome</label>
            <input class="form-control" type="text" placeholder="Seu sobrenome">
        </div>
        <div class="form-group">
            <label for="nameInput">CPF</label>
            <input class="form-control" type="text" placeholder="Seu número de CPF">
        </div>
        <div class="form-group">
            <label for="nameInput">E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="seuemail@exemplo.com.br">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 200px; margin-top: 50px;">Criar</button>
    </form>
</div>